.wrapper {
    min-width: 90px;
    width: 120px;
    height: 35px;
    background-color: #fff;
    border: 1px solid #88a4d2;
    color: #000;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    padding: 1px 15px;
    cursor: pointer;
}

.primary {
    background-color: #2aa527;
    color: #fff;
    font-weight: 500;
}

.big {
    font-size: 3.2rem;
    min-width: 136px;
    height: 60px;
}

@media (max-width: 1023px) {
    .wrapper {
        width: 100px;
        font-size: 1.6rem;
    }
}
