.wrapper {
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f6f8;
    margin-bottom: 20px;
    border: 1px solid #d2d6da;
}
.name {
    font-size: 1.7rem;
    color: #4888d1;
    cursor: pointer;
    font-weight: 500;

    &:hover {
        text-decoration: underline;
    }
}
.right {
    display: flex;
    align-items: center;
}
.price {
    margin-right: 20px;
    font-size: 1.7rem;
    color: #000;
}

// responsive
@media (max-width: 1023px) {

    .price,
    .name {
        font-size: 1.4rem;
    }
}